.btn-export, .btn-save {
  color: #ffffff;
  background-color: #008542;
  border-color: transparent;
}

.btn-login, .btn-logout {
  color: #ffffff;
  background-color: #C75B12;
  border-color: transparent;
}

.centered {
  margin: 0 auto;
  float: none;
}

.form-error {
  color: red;
}

.scholar-info {
  color: #000000;
}

.scholar-info img {
  margin-right: 20px;
}

.nav a {
  color: #008542;
}

.note {
  color: #888;
}

a {
  color: #E98300;
}

a:hover{
  color: #FFB612;
  text-decoration: none;
}

a img:hover{
  opacity: .8;
}

.nav a:hover {
  color: #69BE28;
}

img {
  border: 1px solid #008542;
}

h1, h2, h3 {
  color: #C75B12;
}

body {
  background-color: #F4F4F4;
  color: #000000;
}

.well {
  background-color: #FFFFFF;
  border-radius: 4px;
}

body b, body strong {
  color: #008542;
}

/* color of underline in input */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #69BE28;
  box-shadow: inset 0 -2px 0 #69BE28;
 }
/* radio button colors */
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #69BE28;
}
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  background-color: #69BE28;
}
