.btn-export, .btn-save {
  color: #ffffff;
  background-color: #008542;
  border-color: transparent;
}

.btn-login, .btn-logout {
  color: #ffffff;
  background-color: #C75B12;
  border-color: transparent;
}

.centered {
  margin: 0 auto;
  float: none;
}

.form-error {
  color: red;
}

.scholar-info {
  color: #000000;
}

.scholar-info img {
  margin-right: 20px;
}

.nav a {
  color: #008542;
}

.note {
  color: #888;
}

a {
  color: #E98300;
}

a:hover{
  text-decoration: none;
}

a img:hover{
  opacity: .8;
}

img {
  border: 2px solid #008542;
}

h1, h2, h3 {
  color: #C75B12;
}

body {
  background-color: #D5D2CA;
  color: #000000;
}

body b, body strong {
  color: #008542;
}