.centered {
  margin: 0 auto;
  float: none;
}

.form-error {
  color: red;
}

.scholar-info img {
	margin-right: 20px;
}

.nav a {
  padding: 14px 10px;
}

.note {
  color: #888;
}

a:hover{
  text-decoration: none;
}

a img:hover{
  opacity: .8;
}