{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="well col-xs-12 col-sm-8 col-md-6 col-lg-6 centered text-center">
      <h3>{{ applicant.name }}</h3>
      <div class="row applicant-info">
        <div class="col-xs-6 col-sm-4 col-md-4">
          <img class="pull-center" src="{{ applicant.img }}" width=150 height=180>
        </div>
        <div class="col-xs-6 col-sm-8 col-md-8">
          <p class="text-left">
            <b>Group:</b> {{ applicant.group }}<br>
            <b>Hometown:</b> {{ applicant.hometown }}<br>
            <b>High School:</b> {{ applicant.high_school }}<br>
            <b>Major:</b> {{ applicant.major }}<br>
            <b>Career:</b> {{ applicant.career }}<br>
            <b>Feedback Count:</b> {{ applicant.feedback_count }}
          </p>
        </div>
      </div>
      <br><br>
      <div class="text-left">
        <form action="" method="post" name="feedback">
          {{ form.hidden_tag() }}
          <p>
            Notes <span class="note">(for personal use, will not be submitted):</span><br>
            {{ form.notes(class="form-control", rows=4) }}<br>
          </p>
          <p>
            Feedback:<br>
            {{ form.feedback(class="form-control", rows=4) }}<br>
          </p>
          <p>
            Rating
            <a data-toggle="tooltip" data-placement="top" data-html="true"
              title="(5) Strong Yes<br>
              (4) Yes: Little or no reservations<br>
              (3) Yes: Some reservations<br>
              (2) No: Significant reservations<br>
              (1) Strong No"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
            : &nbsp;&nbsp;&nbsp;&nbsp;
            {% for field in form.rating %}
              <label class="radio-inline">
                {{ field }}
                {{ field.label | striptags }}
              </label>
            {% endfor %}
          </p>

          <div class="text-center">
          <br>
          <div class="text-center">
            <button type="submit" class="btn btn-save">Save</button>
          </div>
          <br>
        </form>
      </div>
    </div>
    <br>
    <br>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(function() {
    $("#notes").focus();
  });
</script>
<script type="text/javascript">
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}
