{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 centered text-center">
      <h3>{{ applicant.name }}</h3>
      <div class="scholar-info">
        <img class="pull-left" src="{{ applicant.img }}" width=150 height=180>
        <p class="text-left">
          <b>Group:</b> {{ applicant.group }}<br>
          <b>Hometown:</b> {{ applicant.hometown }}<br>
          <b>High School:</b> {{ applicant.high_school }}<br>
          <b>Major:</b> {{ applicant.major }}<br>
          <b>Career:</b> {{ applicant.career }}<br>
          <b>Feedback Count:</b> {{ applicant.feedback_count }}
        </p>
      </div>
      <br><br>
      <div class="text-left">
        <form action="" method="post" name="feedback">
          {{ form.hidden_tag() }}
          <p>
            Notes <span class="note">(for personal use, will not be submitted):</span><br>
            {{ form.notes(class="form-control", rows=4) }}<br>
          </p>
          <p>
            Feedback:<br>
            {{ form.feedback(class="form-control", rows=4) }}<br>
          </p>
          <p>
            Rating: &nbsp;&nbsp;&nbsp;&nbsp;
            {% for field in form.rating %}
              <label class="radio-inline">
                {{ field }}
                {{ field.label | striptags }}
              </label>
            {% endfor %}
          </p>
          <div class="text-center">
            <button type="submit" class="btn btn-save">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}