<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    {% if title %}
    <title>{{ title }} - McDermott Input System</title>
    {% else %}
    <title>McDermott Input System</title>
    {% endif %}
  </head>
  <body>
    <div class="container">
      <br>
      <br>
      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <div class="row">
            <div class="col-md-3 centered alert alert-danger" role="alert">
              {{ message }}
            </div>
          </div>
          <br>
        {% endfor %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
