{% extends "base.html" %}

{% block content %}
  <p>Welcome, {{ current_user.name }}</p>
  <a href="{{ url_for('logout') }}">Logout</a>
  <br>
  <h2>Finalists</h2>
  {% for applicant in applicants %}
    <div class="row">
      <div class="col-md-3 text-center">
        <a href="feedback/{{ applicant.id }}">
          <img src="{{ applicant.img }}">
          <br>
          {{ applicant.name }}
        </a>
        <br>
      </div>
      <div class="col-md-9">
        {% for f in applicant.feedback.all() %}
          <strong>{{ f.author.name }}:</strong>
          {{ f.feedback }}
          <br>
        {% endfor %}
      </div>
    </div>
    <br>
  {% endfor %}
{% endblock %}