{% extends "account.html" %}

{% block content2 %}
  {% for applicant in applicants %}
    <div class="row">
      <div class="col-md-3 text-center">
        <a href="feedback/{{ applicant.id }}">
          <img src="{{ applicant.img }}" width=150 height=180>
          <br>
          {{ applicant.name }}
        </a>
        <br>
      </div>
      <div class="col-md-9">
        {% for f in applicant.feedback.all() -%}
          {% if (f.feedback or f.rating is number) %}
            <strong>{{ f.author.name }}:</strong>
            {% if f.rating is number -%}
              {{ f.rating }}
            {%- endif %}
            {% if (f.feedback and f.rating is number) -%}
              -
            {%- endif %}
            {% if f.feedback %}
              {{ f.feedback }}
            {% endif %}
            <br>
          {% endif %}
        {%- endfor %}
        <br>
        <strong>Rating Averages:</strong>
        <div class="row text-center">
          <div class="col-md-4">
            Freshmen-Juniors:
            {% set o_avg = applicant.calculate_average('other') %}
            {% if o_avg %}
              {{ "%.2f" | format(o_avg) }}
            {% endif %} 
          </div>
          <div class="col-md-4">
            Seniors:
            {% set s_avg = applicant.calculate_average('senior') %}
            {% if s_avg %}
              {{ "%.2f" | format(s_avg) }}
            {% endif %} 
          </div>
          <div class="col-md-4">
            Alumni:
            {% set a_avg = applicant.calculate_average('alumni') %}
            {% if a_avg %}
              {{ "%.2f" | format(a_avg) }}
            {% endif %} 
          </div>
        </div>
      </div>
    </div>
    <br>
  {% endfor %}
{% endblock %}

  u = User(email='staff1@example.com', password=generate_password_hash('testpass'), name='Staff Test')
